<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Список задач</h4>
  </div>
  <div class="card-body table-responsive">

    <table mat-table [dataSource]="dataSource">

      <!--  цвет приоритета  -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let task" [style.background-color]="getPriorityColor(task)"
            class="col-color"></td>
      </ng-container>

      <!-- нумерация-->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let index = index;" class="col-id">

          {{index + 1}}

        </td>
      </ng-container>

      <!-- название задачи-->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Название</th>
        <td mat-cell *matCellDef="let task" [class.completed]="task.completed" class="col-title">

          {{task.title}}

        </td>
      </ng-container>

      <!--дата выполнения-->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Срок</th>
        <td mat-cell *matCellDef="let task" [ngClass]="{'completed': task.completed, 'nodate': !task.date}"
            class="col-date">

          {{task.date | date: "medium"}}

        </td>
      </ng-container>

      <!--приоритет-->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Приоритет</th>
        <td mat-cell
            *matCellDef="let task"
            [ngClass]="{
              'completed': task.completed,
              'nopriority': !task.priority
              }"
            class="col-priority"
        >

          {{task.priority ? task.priority.title : "Без приоритета"}}

        </td>
      </ng-container>

      <!--категория-->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Категория</th>
        <td mat-cell
            *matCellDef="let task"
            [ngClass]="{
              'completed': task.completed,
              'nocategory': !task.category,
              'link': !task.completed &&
               task.category
             }"
            class="col-category"
        >

          {{task.category ? task.category.title : "Без категории"}}

        </td>
      </ng-container>

      <!--  заголовок таблицы-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>

      <!--  строки таблицы - набор строк из тегов td (порядок указывается в переменной displayedColumns) -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </div>
</div>
